#!/bin/bash
INTERFACE=wlan0
IPADDRESS=192.168.1.109
NETMASK=/24
GATEWAY=192.168.1.100
ifconfig $INTERFACE $IPADDRESS$NETMASK
route add default gw $GATEWAY